@using CurrencyCalculator.Models
@using CurrencyCalculator.BLL
@model  CurrencyViewModelSimple
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Styles/Currency.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <img class="currencyImg" src="~/Content/Images/currencies.jpg" />
        </header>
        <main class="name">
            <div class="formBlock">
                <form class="form" method="post" action="/Default/Calculate">
                    <ul class="fields">
                        <li>
                            <label class="fields-lable">From</label>
                            <select name="from" class="currencyList">
                                @foreach (Currency c in Model.CurrencyList)
                                {
                                    <option value="@c.CurrencyCode"> @c.Country</option>
                                }
                            </select>
                        </li>
                        <li>
                            <label class="fields-lable">To</label>
                            <select name="to" class="currencyList">
                                @foreach (Currency c in Model.CurrencyList)
                                {
                                    <option value="@c.CurrencyCode"> @c.Country</option>
                                }
                            </select>
                        </li>
                        <li>
                            <label class="fields-lable">Sum</label>
                            <input type="text" class="sum" name="sum" />
                        </li>
                        <li>
                            <button class="currencyCalculate">Calculate</button>
                        </li>
                    </ul>


                </form>

            </div>
            <aside class="result">
                @if (Model is CurrencyViewModelFull)
                {
                    CurrencyViewModelFull cmf = Model as CurrencyViewModelFull;
                <span class="result">@cmf.Sum @cmf.From.CurrencyCode of   @cmf.From.Country = 
                               @Math.Round(cmf.Result, 2)
                               @cmf.To.CurrencyCode  of @cmf.To.Country   </span>
                }
                else
                {
                    <img class="result-img" src="~/Content/Images/Cartoon.png" />

                }
            </aside>
        </main>
    </div>
</body>
</html>
